nav {
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
}

.nav-left{
    display: flex;
    align-items: center;
}

.nav-right{
    width: 80%;
}

ul{
    display: flex;
    justify-content: space-between;
}

footer{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.grid-container {
    border: 1px solid #000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3px;
    width: 80%;
    margin: 0 auto;

}

.grid-item {
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}
